<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>

<h4>Your word was <%= @answer %> </h4>
<h4><%= @filter %> : <%= @letters %></h4>

<h5><%= @final %> and its length is <%= @hash["length"] %></h5>

